<h1>Reset Your Password</h1>

Please enter your Email ID :
<%= form_tag (send_mail_path) do %>
<%= text_field_tag :email_id %>
<br><br>
<%= button_to "send verification code", send_mail_path %>
<% end %>
